<nav class="navbar navbar-expand-lg sticky-top  shadow-5-strong" style="background-color:#fff">
    <div class="container-fluid">
      <a class="navbar-brand p-2" href="#">

        <img width="30px" src="https://th.bing.com/th/id/R.d521e14ca65e7936da7f1d8cd157722d?rik=Tgwpk2RdIi7zLg&riu=http%3a%2f%2fcdn.onlinewebfonts.com%2fsvg%2fimg_217000.png&ehk=8QW8UZeox5D3MkRjrcptuOl16jD4wmuYFmlhM3SeKAY%3d&risl=&pid=ImgRaw&r=0" alt="">
        Food <span>Delivery</span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse d-flex justify-content-center" id="navbarSupportedContent">
        <ul class="navbar-nav ">
          <li class="nav-item">
            <a class="nav-link " href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Menu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
          </li>
          
        
         
         

        </ul>

        
      </div>
      <div >
        <a class="btn text-dark" routerLink="/cart">
          <i class="fa-solid fa-cart-plus fa-shake"></i>
          Cart
          <span class="badge bg-light text-dark ms-1 rounded-pill">{{cartitems}}</span>
        </a>
        
      </div>
      
    </div>
  </nav>
