

<div class="mt-5" style="background-color:black;display: block;">

    <footer class="text-center text-lg-start" >
      <div class="container d-flex justify-content-center py-5">
         
        <button type="button" class="btn btn-outline-light btn-lg btn-floating mx-2" style="background-color:black;">
            <i class="fab fa-facebook"></i>
          </button>
        <button type="button" class="btn btn-outline-light btn-lg btn-floating mx-2" style="background-color: black;">
          <i class="fab fa-youtube"></i>
        </button>
        <button type="button" class="btn btn-outline-light btn-lg btn-floating mx-2" style="background-color:black;">
          <i class="fab fa-instagram"></i>
        </button>
        <button type="button" class="btn btn-outline-light btn-lg btn-floating mx-2" style="background-color: black;">
          <i class="fab fa-twitter"></i>
        </button>
      </div>
  
      <!-- Copyright -->
      <div class="text-center text-white p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        Copyright &copy; Amz Food Delivery 2023
        
      </div>
      <!-- Copyright -->
    </footer>
    
  </div>
